html{
    background-color:  #151515;
    font-family:'Fredoka One','Kosugi Maru', sans-serif;
  }
  .japanese {
    font-size: 12px;
    letter-spacing: 0.3em;
    font-weight: bold;
    font-family:'Kosugi Maru', sans-serif;
  }
  .english {
    font-size: 15px;
    letter-spacing: 0.3em;
  }